.App {
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('./images/home-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
}
.App2 {
  background:#fff;
  height: auto;
}
a {
  text-decoration: none;
}
@media (min-width: 1280px){
 .App,.App2 {
   min-height: 100vh;
 }
}
